<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Most Awesome Team's Group Project</title>
    <!- this connects to the css style file to add a stype to the webpage ->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Navigation Bar -->
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/project">Project</a>
    </div>
    <!-- Homepage -->
    <div class="container">
        <h1>Welcome to our final project!</h1>
        <p>You can interface with either a AWS-hosted DynamoDB or Google's Gemini.</p>
        <p><a href="/project">Click here to give it a try</a></p>
    </div>

    <!-- Footer -->
    <footer>
        <p>© 2024 Book Recommender. All Rights Reserved.</p>
    </footer>
</body>
</html>
