<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Recommender</title>
    <!-- This connects to the CSS style file to add a style to the webpage -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Navigation Bar -->
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/project">Project</a>
    </div>
    <!-- Book Recommender user input webpage -->
    <div class="container">
        <h1>Book Recommender</h1>
        <p>Our Book Recommender allows users to input a selected author and learn more about their publications and background. If you select “Author”, our tool will return all books by that author in our database. If you select “Gemini”, our tool will provide you with a biography of the selected author from the Google Gemini API.</p>
        <!-- <p>Our Book Recommender will search our database or Google's Gemini for matching titles based on the author you provide!.</p> -->
        
        <!-- Form goes here -->
        <form action="/submit" method="POST">
            <div class="form-group">
                <select id="options" name="options">
                    <option value="option1">Select</option>
                    <option value="Author">Author</option>
                    <option value="Gemini">Gemini</option>
                    <!-- <option value="option4">Option 3</option> -->
                </select>
                <textarea id="userInput" name="userInput" placeholder="Enter author here"></textarea>
            </div>
            <button type="submit" class="submit-button">Submit</button>
        </form>

        <!-- Link to Home -->
        <p><a href="/">Back to Home</a></p>
    </div>

    <!-- Footer -->
    <footer>
        <p>© 2024 Book Recommender. All Rights Reserved.</p>
    </footer>
</body>
</html>
